@model GissataletMVC.Models.SecretNumber
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SessionError</title>
</head>
<body>
    <div>
        TimeOut
        <a href="Index">Börja om</a>
    </div>
</body>
</html>
